# Lightroom API Credentials
ADOBE_CLIENT_ID=your_client_id
ADOBE_CLIENT_SECRET=your_client_secret
ADOBE_REFRESH_TOKEN=your_refresh_token

# Application Config
MONITOR_DIR=/photos
ALBUM_NAME=Server_Auto_Upload
CHECK_INTERVAL=10
